:root{
  // Colors
  --orange: #FF7F2A;
  --black: #000;
  --white: #fff;

  // Fonts
  --main-font: 'Roboto', Arial;

  // Border Radius
  --radius: 5px;

  // Transition
  --transition: 0.4s ease-out;

}