
/* =========================================================================
   Bootstrap Class Override
   ========================================================================= */
 
@media screen and (min-width:768px){
  .container{
    max-width: 1350px;
  }
}
 
/* END Bootstrap Class Override
   ========================================================================= */

  

:root{
  --orange: #FF7F2A;
}

body,
.site-header,
.sidebar .widget,
.content .entry{
  background-color: var(--orange);
}